.main-button {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 15px 40px;
    font-size: 19px;
    background: #F28C00;
    text-decoration: none;
    transition: all 0.2s ease;
}
.main-button:hover {
    background: #cc7600;
    color: #fff;
    text-decoration: none;
}
.main-button-alt {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 15px 40px;
    font-size: 19px;
    background: #00A099;
    text-decoration: none;
    transition: all 0.2s ease;
}
.main-button-alt:hover {
    background: #00807a;
    color: #fff;
    text-decoration: none;
}
.main-button-vac {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 30px;
    font-size: 15px;
    color: #00A099;
    background: #fff;
    text-decoration: none;
    transition: all 0.2s ease;
    border: 4px solid #00a099;
}
.main-button-vac:hover {
    background: #00a099;
    color: #fff;
    text-decoration: none;
}