/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.cursus-form-wrapper{
  input {
    width: 100%;
    padding-bottom: 5px;
    border: none;
    background: none;
    border-bottom: 3px solid rgb(94, 94, 94);
    margin-bottom: 20px;
  }

  input[type="submit"] {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 40px;
    font-size: 19px;
    border: none;
    background: #00A099;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
}

body img.gform_ajax_spinner {
  display: none !important;
}