footer {
    .footer-top {
        background: #F6F6F6;
        padding: 75px 0px;
        .top-row-container {   
            padding-bottom: 50px;       
            .top-row {
                align-self:stretch;
                width: 30%;
                height: 100%;
                h3 {
                    color: #5E5E5E;
                    font-weight: bold;
                    font-size: 30px;
                    margin-bottom: 30px;
                }
                a {
                    text-decoration: none;
                    color: #5E5E5E;
                }
                a:hover {
                    text-decoration: none;
                    color: #000000;
                }
            }
            .top-row-1 {
                ul {
                    list-style-type: none;
                    li:before {
                        content: "\2022";
                        color: #F28C00;
                        font-weight: bold;
                        display: inline-block;
                        width: 1em;
                        margin-left: -1em;
                    }
                    li {
                        a {
                            font-size: 18px;
                            color: #5E5E5E;
                            font-weight: 500;
                        }
                    }
                }
            }
            .top-row-2 {
                .footer-nieuws {
                    .footer-nieuws-item {
                        margin-bottom: 20px;
                        h4 {
                            color: #5E5E5E;
                            font-weight: bold;
                            font-size: 22px;
                            border-left: 5px solid #f28c00;
                            padding-left: 10px;
                        }
                        p {
                            padding-left: 17px;
                        }
                    }
                }
            }
            .top-row-3 {
                .contact-list {
                    .contact-item {
                        display: flex;
                        align-items: center;
                        img {
                            width: 25px;
                            height: auto;
                        }
                        a {
                            color: #5E5E5E;
                            font-size: 18px;
                            margin-left: 15px;
                        }
                        a:hover {
                            text-decoration: none;
                            color: #000000;
                        }
                        padding: 10px 0px;
                    }
                    .contact-item:nth-of-type(3) {
                        align-items: end;
                    }
                }
            }
        }
        .bottom-row {
            .footer-cta {
                .main-button,
                .main-button-alt {
                    margin-right: 30px;
                }
            }
            .footer-socials {
                a {
                    padding: 0px 10px;
                    img {
                        background: #ffffff;
                        transition: all 0.2s ease;
                    }
                    img:hover {
                        background: #eaeaea;
                    }
                }
            }
        }
    }
    .footer-bottom {
        background: #00A099;
        padding: 30px 0px;
        .bottom-row {
            a {
                color: #fff;
                font-size: 15px;
            }
            a:hover {
                text-decoration: none;
                color: #dadada;
            }
            p {
                color: #fff;
                font-size: 15px;
            }
            .b__span {
                font-weight: bold;
            }
        }
    }
}