.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}


.banner {
  background: #ffffff;
  .width-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    background: transparent;
    padding-top: 50px;
    padding-bottom: 50px;
    a.brand {
      img {
        width: 200px;
      }
    }
    .nav-primary {
      width: 90%;
      padding-left: 20px;
      .menu-hoofd-menu-container {
        a {
          color: #00A099;
          font-weight: 600;
          font-size: 18px;
          padding: 8px 0px;
          margin: 0px 16px;
          border-bottom: 3px solid transparent;
          transition: all 0.2s ease;
        }
        a:hover {
          border-bottom: 3px solid #F28C00;
          color: #00A099;
        }
      }
      .nav-select {
        display: flex;
        .nav-phone {
          a {
            text-decoration: none;
            display: flex;
            img {
              height: 100%;
              width: auto;
              margin-right: 15px;
              padding: 3px;
            }
            p {
              color: #00A099;
              font-weight: bold;
              font-size: 18px;
              margin: 0px;
            }
          }
        }
        .nav-spacer-wrapper {
          position: relative;
          width: 44px;
          .nav-spacer {
            position: absolute;
            height: 50px;
            margin: 0px 20px;
            margin-top: -10px;
            border: 2px solid #F28C00;
          }
        }
        .nav-menu {
          display: flex;
          cursor: pointer;
          p {
            color: #00A099;
            font-weight: bold;
            font-size: 18px;
            margin: 0px;
            margin-right: 20px;         
          }
        }
      }
    }
  }
}
//mobile menu
.mobile-menu {
    height: 100%;
    display: none;
    width: 100%;
    margin-top: 150px;
    padding-bottom: 150px;
    position: fixed;
    -ms-overflow-style: none;
    z-index: 10;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    //background-image: url(/app/uploads/2020/04/Group-129@2x.png);
    //background-image: url('@asset("images/Group-129@2x.png")');
    background-size: cover;
    background-repeat: no-repeat;
  .menu-container {
      padding: 75px 0px;
      .top-row-container {   
          padding-bottom: 50px;       
          .top-row {
              align-self:stretch;
              width: 30%;
              height: 100%;
              h3 {
                  color: #ffffff;
                  font-weight: bold;
                  font-size: 30px;
                  margin-bottom: 30px;
              }
              a {
                  text-decoration: none;
                  color: #ffffff;
              }
              a:hover {
                  text-decoration: none;
                  color: #bdbdbd;
              }
          }
          .top-row-1 {
              ul {
                  list-style-type: none;
                  li:before {
                      content: "\2022";
                      color: #ffffff;
                      font-weight: bold;
                      display: inline-block;
                      width: 1em;
                      margin-left: -1em;
                  }
                  li {
                      a {
                          font-size: 18px;
                          color: #ffffff;
                          font-weight: 500;
                      }
                  }
              }
          }
          .top-row-2 {
              .mobile-m-nieuws {
                  .mobile-m-nieuws-item {
                      margin-bottom: 20px;
                      h4 {
                          color: #ffffff;
                          font-weight: bold;
                          font-size: 25px;
                          border-left: 5px solid #ffffff;
                          padding-left: 10px;
                      }
                      p {
                          padding-left: 17px;
                          color: #ffffff;
                      }
                  }
              }
          }
          .top-row-3 {
              .contact-list {
                  .contact-item {
                      display: flex;
                      align-items: center;
                      img {
                          width: 25px;
                          height: auto;
                      }
                      a {
                          color: #ffffff;
                          font-size: 18px;
                          margin-left: 15px;
                      }
                      a:hover {
                          text-decoration: none;
                          color: #bdbdbd;
                      }
                      padding: 10px 0px;
                  }
                  .contact-item:nth-of-type(3) {
                      align-items: end;
                  }
              }
          }
      }
      .bottom-row {
          .mobile-m-cta {
              .main-button {
                  margin-right: 30px;
              }
              .main-button-alt {
                border: 4px solid white;
                padding: 11px 40px;
                background: none;
              }
          }
          .mobile-m-socials {
              a {
                  padding: 0px 10px;
                  img {
                      transition: all 0.2s ease;
                  }
                  img:hover {
                      background: #eaeaea2e;
                  }
              }
          }
      }
  }
}
.mobile-menu::-webkit-scrollbar {
  display: none;
}

body.mobile-menu-active {
  .banner {
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  .mobile-menu {
    //display: block;
  }
  div.site-content {
    padding-top: 150px;
  }
}



/*header.banner.active-mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  .mobile-menu {
    display: block;
  }
}*/

/*.mobile-menu-active {
  height: 100vh;
  body {
    height: 100%;
    header.banner {
      height: 100%;
      width: 100%;
      position: fixed;
      z-index: 10;
      header.mobile-menu {
        display: block;
      }
    }
  }
}*/