//Front page
.home-header  {
    .home-header-wrapper  {
        position: relative;
        overflow: hidden;
        .image-container  {
            opacity: 0.6;
            position: relative;

            img {
                height: 500px;
                object-fit: cover;
            }

            .swiper-button-prev-hero,
            .swiper-button-next-hero
             {
                background: #00A099;
                display: flex;
                place-content: center;
                height: 36px;
                width: 36px;
                float: right;
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 2;
                p{
                    font-size: 20px;
                    color: #fff;
                    margin: 0;
                    margin-top: 2px;
                }
                &:hover {
                    cursor: pointer;
                }
            }
            .swiper-button-prev-hero {
                right: 56px;
            }

        }
    }
}

//Baan-Personeel page
.alt-header  {
    padding-bottom: 75px;
    padding-top: 25px;
    .alt-header-wrapper  {
        .text-image-header  {
            .text-left  {
                width: 48%;
                align-self: stretch;
                position: relative;
                background: #00A099;
                -webkit-box-shadow: 15px 20px 0px 2px rgba(0,160,153,0.18);
                -moz-box-shadow: 15px 20px 0px 2px rgba(0,160,153,0.18);
                box-shadow: 15px 20px 0px 2px rgba(0,160,153,0.18);
                .text-content  {
                    height: 100%;
                    padding: 50px;
                    h1  {
                        font-size: 38px;
                        color: #fff;
                        font-weight: bold;
                        margin: 0px 0px 30px 0px;
                    }
                    p  {
                        color: #fff;
                        font-size: 20px;
                        font-weight: 600;
                        margin-bottom: 30px;
                        flex-grow: 2;
                    }
                    a  {
                        text-decoration: none;
                        color: #fff;
                        background: #F28C00;
                        font-weight: bold;
                        padding: 15px 40px;
                        width: fit-content;
                        font-size: 19px;
                    }
                }
            }
            .image-right  {
                width: 48%;
                align-self: stretch;
                img  {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
.page-template-personeel-page  {
    .alt-header  {
        .alt-header-wrapper  {
            .text-image-header  {
                .text-left  {
                    background: #F28C00;
                    -webkit-box-shadow: 15px 20px 0px 2px rgba(242, 140, 0, 0.18);
                    -moz-box-shadow: 15px 20px 0px 2px rgba(242, 140, 0, 0.18);
                    box-shadow: 15px 20px 0px 2px rgba(242, 140, 0, 0.18);
                    .text-content  {
                        a  {
                            background: #00A099;
                        }
                    }
                }
            }
        }
    }
}

.page-template-baan-page  {
    .cta-banner  {
        margin-bottom: 0px;
    }
}

// cursussen loop section

section.c__cursus-loop {
    padding: 75px 0;
    
    .w__cursus-loop {
        h2.h2-title {
            border-bottom: 1px solid #707070;
            margin-bottom: 0;
            padding-bottom: 30px;
        }
        .loop__wrapper {
            padding: 55px 0;
            padding-bottom: 0;

            .cursus__wrapper {
                width: calc(33.3333% - 20px);
                margin-right: 20px;
                margin-bottom: 75px;

                h3.single__title {
                    color: #00A099;
                    font-size: 27px;
                    font-weight: 700;
                    margin: 0;
                    padding-bottom: 10px;
                    margin-bottom: 20px;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 60%;
                        height: 2px;
                        background: linear-gradient(90deg, rgba(242,140,0,1) 0%, rgba(242,140,0,1) 50%, rgba(0,160,153,1) 50%, rgba(0,160,153,1) 100%);
                    }
                }
                .single__excerpt {
                    margin-bottom: 24px;

                    p {
                        font-size: 16px;
                        margin: 0;
                    }
                }
                a.main-button-vac {
                    padding: 7px 30px;
                }
            }
        }
    }
}



.c__logo-slider {
    padding: 100px 50px;
    position: relative;
    overflow: hidden;
    .w__logo-slider {
        .swiper-container-logo {
            overflow: hidden;
            img {
                height: 150px;
                object-fit: contain;
            }
        }
    }
}