@media only screen and (max-width: 1240px) {
  .banner {
    .nav-primary {
      justify-content: flex-end;
      .menu-hoofd-menu-container {
        display: none;
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .h2-title {
    font-size: 40px;
  }
  .main-button {
    font-size: 16px;
  }
  .main-button-alt {
    font-size: 16px;
  }

  .banner {
    .width-inner {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
  .mobile-menu {
    margin-top: 115px;
  }
  .alt-header{
    padding-top: 0px;
    .alt-header-wrapper {
      .text-image-header {
        .text-left {
          .text-content {
            padding: 30px;
            h1 {
              font-size: 30px;
            }
            p {
              font-size: 16px;
            }
            a {
              font-size: 16px;
              padding: 10px 30px;
            }
          }
        }
      }
    }
  }
  .home-header {
    .overlap-blocks {
      padding: 0px 25px;
      .overlap-block{
        width: calc(50% - 15px);
        .block-content {
          padding: 30px;
          h2 {
            font-size: 30px;
          }
          p {
            font-size: 16px;
          }
          a {
            padding: 10px 30px;
            font-size: 16px;
          }
        }
      }
    }
  }
  .about-row  {
    .about-row-wrapper {
      .about-text {
        p {
          font-size: 17px;
        }
      }
      .about-list {
        ul.list {
          li {
            font-size: 17px;
          }
        }
      }
    }
  }
  .ups-banner {
    .ups-wrapper {
      ul.list {
        li {
          font-size: 16px;
        }
      }
    }
  }
  .cta-banner {
    .cta-wrapper {
      padding: 50px 0px;
      h2 {
        font-size: 40px;
      }
    }
  }
  .small-header {
    .small-header-wrapper {
      h1 {
        font-size: 40px;
      }
    }
  }
  .content-row-vacature {
    .vacature-row-wrapper {
      flex-wrap: wrap;
      .vacature-text {
        width: 100%;
      }
      .vacature-list {
        margin-left: 30px;
        margin-top: 30px;
        min-width: 400px;
      }
    }
  }
  .content-row-bericht {
    .bericht-row-wrapper {
      .bericht-text {
        width: 60%;
      }
    }
  }

  section.c__cursus-loop{ 
    .w__cursus-loop{ 
      .loop__wrapper{ 
        .cursus__wrapper{
          width: calc(50% - 20px);
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .vacature-archive-container {
    .width-inner {
      flex-wrap: wrap;
      .vacatures-filter {
        width: 100%;
        .select-container {
          .select-family-wrapper {
            form {
              display: flex;
              justify-content: flex-start;
              flex-wrap: wrap;
              fieldset {
                width: 33%;
                min-width: fit-content;
              }
            }
          }
        }
      }
      .vacatures-loop {
        width: 100%;
      }
    }
  }
  .banner {
    .width-inner {
      .nav-primary {
        .nav-select {
          .nav-phone {
            display: none;
          }
          .nav-spacer {
            display: none;
          }
          .nav-menu {
            p {
              display: none;
            }
          }
        }
      }
    }
  }
  .mobile-menu {
    //margin-top: 146px;
    .menu-container {
      .width-inner {
        .top-row-container {
          .top-row-2 {
            display: none;
          }
          .top-row-1 {
            width: 210px;
          }
          .top-row-3 {
            width: 200px;
          }
        }
        .bottom-row {
          display: block;
          .mobile-m-socials {
            justify-content: end;
            margin-left: -10px;
            padding-top: 50px;
          }
        }
      }
    }
  }
  .content-info {
    .footer-top {
      .width-inner {
        .top-row-container {
          flex-wrap: wrap;
          .top-row-1 {
            width: 100%;
            padding-bottom: 35px;
          }
          .top-row-2 {
            width: 100%;
            padding-bottom: 35px;
          }
          .top-row-3 {
            width: 100%;
          }
        }
        .bottom-row  {
          display: block;
          .footer-cta {
            a {
              display: block;
              width: 220px;
              height: 54px;
            }
            .main-button,
            .main-button-alt {
              margin-bottom: 20px;
            }
          }
          .footer-socials {
            padding-top: 50px;
            justify-content: end;
            margin-left: -10px;
          }
        }
      }
    }
    .footer-bottom {
      .width-inner {
        text-align: center;
        flex-wrap: wrap;
        .bottom-row:nth-of-type(1) {
          width: 100%;
          a {
            width: 100%;
            display: block;
            margin: 0px;
          }
        }
        .bottom-row:nth-of-type(2), .bottom-row:nth-of-type(3) {
          width: 100%;     
          margin-left: 0px !important;
        }
      }
    }
  }

  .home-header {
    .home-header-wrapper {
      .overlap-blocks  {
        padding: 0px 10px;
        margin-top: -125px;
        .overlap-block {
          .block-content {
            padding: 20px;
            h2 {
              font-size: 26px;
            }
          }
        }
        .overlap-block-2:after {
          width: calc(100% + 4px);
        }
      }
    }
  }
  .alt-header {
    .alt-header-wrapper {
      .text-image-header {
        .text-left {
          .text-content {
            padding: 20px;
            h1 {
              font-size: 26px;
            }
          }
        }
      }
    }
  }

  .ups-banner {
    display: none;
  }
  .small-header {
    .small-header-wrapper {
      h1 {
        font-size: 30px;
      }
    }
  }
  .about-row  {
    .about-row-wrapper {
      .about-text {
        width: 100%;
      }
      .about-list {
        display: none;
      }
    }
  }
  .double-text-row {
    .width-inner {
      flex-wrap: wrap;
      .text-row-wrapper {
        width: 100%;
      }
      .text-row-wrapper:nth-of-type(1) {
        padding-bottom: 35px;
      }
    }
  }
  .content-row-bericht {
    .bericht-row-wrapper {
      flex-wrap: wrap-reverse;
      .bericht-text {
        width: 100%;
      }
      .bericht-foto {
        width: 100%;
        margin-bottom: 35px;
        max-height: 300px;
        padding-left: 30px;
      }
    }
  }
  .posts-loop-container{
    .posts-loop-intro {
        margin-bottom: 75px;
        .posts-row-wrapper {
          position: relative;
          flex-wrap: wrap-reverse;
          .posts-text {
              width: 100%;
          }
          .posts-foto {
              width: 100%;
              margin-bottom: 35px;
          }
        }
    }
    .posts-loop-wrapper {
        .single-post-item {
            margin-bottom: 50px;
            flex-wrap: wrap-reverse;
            .single-post-content {
                width: 100%;
                padding: 25px 0px;
            }
            .single-post-photo {
                width: 100%;
                img {
                    max-height: 200px;
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
        .single-post-item:last-of-type {
            margin-bottom: 0px;
        }
    }
  }
  section.c__cursus-loop{ 
    .w__cursus-loop{ 
      .loop__wrapper{ 
        .cursus__wrapper{
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .b__cf7-upload {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .h2-title {
    font-size: 30px;
  }
  .alt-header {
    .alt-header-wrapper {
      .text-image-header {
        flex-wrap: wrap-reverse;
        .image-right {
          width: 100%;
          max-height: 200px;
          margin-bottom: 35px;
        }
        .text-left {
          width: 100%;
          .text-content {
            padding: 20px;
            h1 {
              font-size: 26px;
            }
          }
        }
      }
    }
  }
  .about-row-image-button {
    .about-row-wrapper {
      flex-wrap: wrap-reverse;
      .about-text {
        width: 100%;
        padding-left: 0px;
        padding-bottom: 12px;
        p {
          margin-bottom: 0px;
          padding-bottom: 50px;
        }
      }
      .about-image {
        width: 100%;
        max-height: 200px;
        margin-bottom: 35px;
      }
    }
  }
  .page-template-contact-page {
    .about-row-image {
    .about-row-wrapper {
      .about-image {
        max-height: 300px;
        img {
          object-position: top;
        }
      }
    }
  }
  }
  .about-row-image {
    .about-row-wrapper {
      flex-wrap: wrap-reverse;
      .about-text {
        width: 100%;
        padding-left: 0px;
        p {
          margin-bottom: 0px;
        }
      }
      .about-image {
        width: 100%;
        max-height: 200px;
        margin-bottom: 35px;
      }
    }
  }
  .small-header {
    .small-header-wrapper {
      display: block;
      text-align: center;
      h1 {
        margin-bottom: 35px;
      }
    }
  }
  .home-header {
    .home-header-wrapper {
      .overlap-blocks  {
        margin-top: -20px;
        flex-wrap: wrap;
        .overlap-block {
          width: 100%;
          .block-content {
            h2 {
            }
          }
        }
        .overlap-block-1 {
          margin-bottom: 20px;
        }
        .overlap-block-1 .block-content, .overlap-block-2 .block-content {
          -webkit-box-shadow: none;
          box-shadow: none;
        }
        .overlap-block-1:after, .overlap-block-2:after {
          content: "";
          width: 0px;
          height: 0px;
          display: none;
        }
      }
    }
  }
  .vacature-container {
    .vacatures {
      .vacature-item {
        ul.v-usp, .v-info {
          display: block;
        }
      }
    }    
  }
}
@media only screen and (max-width: 500px) { 
    .main-button {
    font-size: 13px;
  }
  .main-button-alt {
    font-size: 13px;
  }
  .baan-form-container {
    .baan-form-wrapper {
      padding: 0px 15px;
      .form-wrapper {
        form {
          .b__form-wrapper {
            p {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .contact-form-container {
    .contact-form-wrapper {
      form {
        .b__contact-form-wrapper {
          p {
            width: 100%;
          }
          padding-bottom: 0px;
        }
      }
    }
  }
  .mobile-menu {
    //margin-top: 146px;
    .menu-container {
      .width-inner {
        .top-row-container {
          .top-row-2 {
            display: none;
          }
          .top-row-1 {
            width: 100%;
            text-align: center;
            ul.mobile-m-list {
              padding-left: 0px;
              li:before {
                content: "";
              }
            }
          }
          .top-row-3 {
            display: none;
          }
        }
        .bottom-row {
          display: block;
          .mobile-m-cta {
            a {
              display: block;
              width: 230px;
              height: 55px;
              margin: 0 auto;
            }
            .main-button {
              margin-bottom: 20px;
            }
          }
          .mobile-m-socials {
            justify-content: center;
          }
        }
      }
    }
  }
  .cta-banner {
    .cta-wrapper {
      h2 {
        font-size: 30px;
      }
    }
  }
  .content-row-vacature {
    .vacature-row-wrapper {
      flex-wrap: wrap;
      .vacature-text {
        width: 100%;
        h1 {
          //word-break: break-all;
        }
        .v-info {
          flex-wrap: wrap;
          div {
            width: 100%;
          }
        }
      }
      .vacature-list {
        margin-left: 30px;
        margin-top: 30px;
        min-width: 0px;
        width: 100%;
        padding: 50px 10px;
        ul.list {
          li {
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 425px) { 
  .content-info {
    .footer-top {
      .width-inner {
        .bottom-row {
          .footer-cta {
            a {
              width: 100%;
              text-align: center;
            }
          }
        }
      }
    }
  }
}