//Global styles

:root {
    --swiper-theme-color: #00A099;
}

.vacature-container {
    display: none !important;
}
* {
    font-family: 'Raleway';
    line-height: 1.5;
}
.width-inner {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 15px;
}
img {
    width: 100%;
    height: auto;
}
.h2-title {
    font-size: 50px;
    font-weight: bold;
    color: #00A099;
    margin: 0px 0px 20px 0px;
}
.h4-quote {
    font-weight: normal;
    font-size: 20px;
    color: #F28C00;
    margin: 0px;
}
p {
    margin: 0px;
    font-size: 18px;
    font-weight: normal;
    color: #5E5E5E;
}
.main-padding {
    padding-top: 75px;
    padding-bottom: 75px;
}
ul.list {
    list-style: none;
    height: 100%;
    margin: 0px;
    padding: 0px;
    li {
        color: #5E5E5E;
        font-weight: bold;
        font-size: 20px;
        padding: 20px 0px;
        display: flex;
        align-items: center;
    }
    li:before {
        content: ' ';
        //background-image: url('app/uploads/2020/04/checkmark.svg');
        background-size: 20px 20px;
        height: 20px;
        width: 20px;
        margin-right: 10px;
        min-width: 20px;
        display: inline-block;
    }
}

//Overlap blokken Groen Oranje, header
.overlap-blocks {
    margin-top: -200px;
    padding: 0px 50px;
    .overlap-block {
        width: calc(50% - 40px);
        position: relative;
        .block-content {
            padding: 50px;
            height: 100%;
            h2 {
                font-size: 38px;
                color: #fff;
                font-weight: bold;
                margin: 0px 0px 30px 0px;
            }
            p {
                color: #fff;
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 30px;
                flex-grow: 2;
            }
            a {
                text-decoration: none;
                color: #fff;
                font-weight: bold;
                padding: 15px 40px;
                font-size: 19px;
                width: fit-content;
            }
        }
    }
    .overlap-block-1 {
        background: #00A099;
        a {
            background: #F28C00;
        }
        .block-content {
            -webkit-box-shadow: 15px 20px 0px 2px rgba(0,160,153,0.18);
            -moz-box-shadow: 15px 20px 0px 2px rgba(0,160,153,0.18);
            box-shadow: 15px 20px 0px 2px rgba(0,160,153,0.18);
        }
    }
    .overlap-block-1:after {
        content: "";
        width: calc(100% + 17px);
        height: 22px;
        left: 13px;
        background: white;
        position: absolute;
    }
    .overlap-block-2 {
        background: #F28C00;
        a {
            background: #00A099;
        }
        .block-content {
            -webkit-box-shadow: 15px 20px 0px 2px rgba(242,140,0,0.18);
            -moz-box-shadow: 15px 20px 0px 2px rgba(242,140,0,0.18);
            box-shadow: 15px 20px 0px 2px rgba(242,140,0,0.18);
        }
    }
    .overlap-block-2:after {
        content: "";
        width: calc(100% + 17px);
        height: 22px;
        left: 13px;
        background: white;
        position: absolute;
    }
}

//Over wil blok met list rechts
.about-row {
    .about-row-wrapper {
        position: relative;
        .about-text {
            padding-left: 30px;
            width: 50%;
            height: 100%;
            p {
                margin-bottom: 50px;
            }
        }
        .about-list {
            width: 40%;
            background: #F6F6F6;
            padding: 50px 35px;
            height: 100%
        }
        .double-border {
            position: absolute;
            left: 0px;
            width: 7px;
            height: 100%;
            .border-1 {
                width: 100%;
                height: 50%;
                background: #F28C00;
                position: absolute;
                top: 0px;
            }
            .border-2 {
                width: 7px;
                height: 50%;
                background: #00A099;
                position: absolute;
                bottom: 0px;
            }
        }
    }
}

.single-vacatures {
    .baan-form-container {
        padding-bottom: 75px;
    }
}

//Content blok vacatures met list rechts
.content-row-vacature {
    .vacature-row-wrapper {
        position: relative;
        .vacature-text {
            padding-left: 30px;
            width: 50%;
            height: 100%;
            h1 {
                font-weight: bold;
                color: #00A099;
                margin: 0px 0px 20px 0px;
                font-size: 30px;
            }
            .v-info {
                display: flex;
                margin-bottom: 15px;
                div {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    padding-right: 20px;
                    p {
                        color: #5E5E5E;
                        font-size: 16px;
                        font-weight: normal;
                    }
                    img {
                        width: 18px;
                        margin-right: 10px;
                        height: auto;
                    }
                }
            }
        }
        .vacature-list {
            width: 40%;
            background: #F6F6F6;
            padding: 50px 35px;
            height: 100%;
            a {
                p {
                    text-decoration: none;
                    color: #fff;
                    font-weight: bold;
                    text-align: center;
                    padding: 15px 40px;
                    font-size: 19px;
                    background: #F28C00;
                    text-decoration: none;
                    -webkit-transition: all 0.2s ease;
                    -o-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }
            }
        }
        .double-border {
            position: absolute;
            left: 0px;
            width: 7px;
            height: 100%;
            .border-1 {
                width: 100%;
                height: 50%;
                background: #F28C00;
                position: absolute;
                top: 0px;
            }
            .border-2 {
                width: 7px;
                height: 50%;
                background: #00A099;
                position: absolute;
                bottom: 0px;
            }
        }
    }
}

//Content blok bericht met foto+ rechts
.content-row-bericht {
    .bericht-row-wrapper {
        position: relative;
        .bericht-text {
            padding-left: 30px;
            width: 50%;
            height: 100%;
            h1 {
                font-weight: bold;
                color: #00A099;
                margin: 0px 0px 20px 0px;
                font-size: 30px;
            }
        }
        .bericht-foto {
            width: 30%;
            background: #f6f6f6;
            -ms-flex-item-align: stretch;
            align-self: stretch;
            img {
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
        .double-border {
            position: absolute;
            left: 0px;
            width: 7px;
            height: 100%;
            .border-1 {
                width: 100%;
                height: 50%;
                background: #F28C00;
                position: absolute;
                top: 0px;
            }
            .border-2 {
                width: 7px;
                height: 50%;
                background: #00A099;
                position: absolute;
                bottom: 0px;
            }
        }
    }
}

//Content blok bericht archive met foto+ rechts
.posts-loop-container{
    .posts-loop-intro {
        margin-bottom: 75px;
        .posts-row-wrapper {
            position: relative;
            .posts-text {
                padding-left: 30px;
                width: 50%;
                height: 100%;
            }
            .posts-foto {
                width: 40%;
                background: #f6f6f6;
                -ms-flex-item-align: stretch;
                align-self: stretch;
                -webkit-box-shadow: 15px 20px 0px 2px rgba(0, 160, 153, 0.18);
                box-shadow: 15px 20px 0px 2px rgba(0, 160, 153, 0.18);
                img {
                    height: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                    max-height: 300px;
                    width: 100%;                    
                }
            }
            .double-border {
                position: absolute;
                left: 0px;
                width: 7px;
                height: 100%;
                .border-1 {
                    width: 100%;
                    height: 50%;
                    background: #F28C00;
                    position: absolute;
                    top: 0px;
                }
                .border-2 {
                    width: 7px;
                    height: 50%;
                    background: #00A099;
                    position: absolute;
                    bottom: 0px;
                }
            }
        }
    }
    .posts-loop-wrapper {
        .single-post-item {
            background: #F6F6F6;
            margin-bottom: 50px;
            .single-post-content {
                width: 60%;
                padding: 50px;
                align-self: stretch;
                h2 {
                    font-size: 30px;
                }
                div {
                    padding-bottom: 35px;
                }
            }
            .single-post-photo {
                width: 40%;
                img {
                    max-height: 400px;
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
        .single-post-item:last-of-type {
            margin-bottom: 0px;
        }
    }
}

.post-loop-pagination {
    text-align: center;
    font-weight: bold;
    a {
        color: #00A099;
        transition: all 0.2s ease;
        margin: 0px 3px;
    }
    a:hover {
        text-decoration: none;
        color: #F28C00;
        margin: 0px 3px;
    }
    .page-numbers.current {
        color: #F28C00;
        margin: 0px 3px;
    }
}

//intro blok full width
.intro-row {
    .intro-row-wrapper {
        position: relative;
        .intro-text {
            padding-left: 30px;
            align-self:stretch;
            width: 100%;
            height: 100%;
            p {
                //margin-bottom: 50px;
            }
        }
        .double-border {
            position: absolute;
            left: 0px;
            width: 7px;
            height: 100%;
            .border-1 {
                width: 100%;
                height: 50%;
                background: #F28C00;
                position: absolute;
                top: 0px;
            }
            .border-2 {
                width: 7px;
                height: 50%;
                background: #00A099;
                position: absolute;
                bottom: 0px;
            }
        }
    }
}
.page-template-contact-page {
    .intro-row {
        padding-bottom: 0px;
    }
}
//Over wil blok met image rechts
.about-row-image {
    .about-row-wrapper {
        position: relative;
        .about-text {
            padding-left: 30px;
            width: 65%;
            height: 100%;
            p {
                margin-bottom: 50px;
            }
        }
        .about-image {
            width: 30%;
            background: #F6F6F6;
            align-self: stretch;
            img {
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
        .double-border {
            position: absolute;
            left: 0px;
            width: 7px;
            height: 100%;
            .border-1 {
                width: 100%;
                height: 50%;
                background: #F28C00;
                position: absolute;
                top: 0px;
            }
            .border-2 {
                width: 7px;
                height: 50%;
                background: #00A099;
                position: absolute;
                bottom: 0px;
            }
        }
    }
}

//Over wil blok met image rechts en een knop
.about-row-image-button {
    .about-row-wrapper {
        position: relative;
        .about-text {
            padding-left: 30px;
            width: 45%;
            height: 100%;
            p {
                margin-bottom: 50px;
            }
        }
        .about-image {
            width: 45%;
            background: #F6F6F6;
            align-self: stretch;
            img {
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
        .double-border {
            position: absolute;
            left: 0px;
            width: 7px;
            height: 100%;
            .border-1 {
                width: 100%;
                height: 50%;
                background: #F28C00;
                position: absolute;
                top: 0px;
            }
            .border-2 {
                width: 7px;
                height: 50%;
                background: #00A099;
                position: absolute;
                bottom: 0px;
            }
        }
    }
}

//UPS banner met 4 items, vaak boven de foto banner maar hoeft niet. Krijgt geen margin/padding bottom!
.ups-banner {
    background: #F6F6F6;
    margin-top: 50px;
    .ups-wrapper {
        ul.list {
            li {
                padding: 30px 0px;
            }
        }
    }
}

//CTA Banner, met titel + knop. Vaak onder de UPS maar hoeft niet. Krijgt geen margin/padding top!
.cta-banner {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    //margin-bottom: 50px;
    .cta-wrapper {
        padding: 100px 0px;
        text-align: center;
        h2 {
            color: #ffffff;
            font-weight: bold;
            font-size: 50px;
            margin-bottom: 50px;
        }
    }
}

//Vacature container + de loop stijling, niet aanpasbaar. Krijgt alle margin + padding etc.
.vacature-container {
    h2 {
        border-bottom: 1px solid #707070;
        margin-bottom: 0px;
        padding-bottom: 30px;
    }
    .vacatures {
        .vacature-item {
            padding: 30px 0px 50px 0px;
            border-bottom: 1px solid #707070;
            .v-title {
                color: #00A099;
                font-weight: bold;
                font-size: 18px;
                margin-bottom: 5px;
            }
            .v-info {
                display: flex;
                margin-bottom: 15px;
                div {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    padding-right: 20px;
                    p {
                        color: #5E5E5E;
                        font-size: 16px;
                        font-weight: normal;
                    }
                    img {
                        width: 18px;
                        margin-right: 10px;
                        height: auto;
                    }
                }
            }
            ul.v-usp {
                margin: 0px;
                margin-bottom: 30px;
                padding: 0px;
                list-style: none;
                display: flex;
                li {
                    font-size: 16px;
                    color: #5E5E5E;
                    font-weight: normal;
                    display: flex;
                    margin-right: 10px;
                }
                li:before {
                    content: ' ';
                    //background-image: url('/app/uploads/2020/04/checkmark.svg');
                    background-size: 20px 20px;
                    height: 20px;
                    width: 20px;
                    margin-right: 10px;
                    min-width: 20px;
                    display: inline-block;
                }
            }
        }
    }
    .more-vac-button {
        text-align: center;
        margin-top: 60px;
    }
}

//Vacature arvhice container + de loop stijling, niet aanpasbaar. Krijgt alle margin + padding etc, met filter.
.vacature-archive-container {
    .vacatures-filter {
        width: 25%;
        min-width: 200px;
        h3 {
            color: #f28c00;
            font-weight: bold;
            font-size: 30px;
        }
        /*
        .zoekbalk-container {
            width: 100%;
            form.filter-search {
                margin: 0px;
            }
            form.filter-search input[type=text] {
                padding: 10px;
                font-size: 17px;
                border: 1px solid #989898;
                float: left;
                width: 80%;
                font-weight: bold;
                background: #ffffff;
            }

            form.filter-search button {
                float: left;
                width: 20%;
                padding: 10px;
                background: #F28C00;
                color: white;
                font-size: 17px;
                border: 1px solid #F28C00;
                border-left: none;
                cursor: pointer;
                img {
                    height: 20px;
                }
            }

            form.filter-search button:hover {
                background: #cc7600;
            }

            form.filter-search::after {
                content: "";
                clear: both;
                display: table;
            }
        }*/
        .select-container {
            .select-family-wrapper {
                form {
                    fieldset {
                        padding: 20px 0px;
                        p {
                            color: #00A099;
                            font-weight: bold;
                            font-size: 20PX;
                        }
                        .input-wrapper {
                            display: block;
                            label {
                                cursor: pointer;
                                position: relative;
                                color: #5E5E5E;
                                font-size: 18px;
                                padding-left: 25px;
                                input {
                                    position: absolute;
                                    opacity: 0;
                                    cursor: pointer;
                                    height: 0;
                                    width: 0;
                                }
                                .checkmark {
                                    position: absolute;
                                    top: 6px;
                                    left: 0;
                                    height: 16px;
                                    width: 16px;
                                    border: 2px solid #5E5E5E;
                                    transition: all 0.4s ease;
                                }
                            }
                        }
                        .input-wrapper label input:checked ~ .checkmark {
                            background-color: #5E5E5E;
                        }
                        .input-wrapper label:hover .checkmark {
                            background-color: #5e5e5e24;
                        }
                    }
                }
            }
        }
    }
    .vacatures-loop{
        width: 70%;
        h2 {
            border-bottom: 1px solid #707070;
            margin-bottom: 0px;
            padding-bottom: 30px;
        }
        .vacatures {
            .vacature-item {
                padding: 30px 0px 50px 0px;
                border-bottom: 1px solid #707070;
                .v-title {
                    color: #00A099;
                    font-weight: bold;
                    font-size: 18px;
                    margin-bottom: 5px;
                }
                .v-info {
                    display: flex;
                    margin-bottom: 15px;
                    div {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        padding-right: 20px;
                        p {
                            color: #5E5E5E;
                            font-size: 16px;
                            font-weight: normal;
                        }
                        img {
                            width: 18px;
                            margin-right: 10px;
                            height: auto;
                        }
                    }
                }
                ul.v-usp {
                    margin: 0px;
                    margin-bottom: 30px;
                    padding: 0px;
                    list-style: none;
                    display: flex;
                    li {
                        font-size: 16px;
                        color: #5E5E5E;
                        font-weight: normal;
                        display: flex;
                        margin-right: 10px;
                    }
                    li:before {
                        content: ' ';
                        //background-image: url('/app/uploads/2020/04/checkmark.svg');
                        background-size: 20px 20px;
                        height: 20px;
                        width: 20px;
                        margin-right: 10px;
                        min-width: 20px;
                        display: inline-block;
                    }
                }
            }
        }
    }
}

//Dubbel text row container, 2 textvelden zonder enige opmaak naast elkaar. In ACF met een Wysiwyg editor.
.double-text-row {
    .text-row-wrapper {
        width: 45%;
        align-self: stretch;
        a {
            color: #00a099;
            transition: all 0.2s ease;
        }
        a:hover {
            color: #f28c00;
            text-decoration: none;
        }
    }
    padding-top: 0px;
}

//Het ik zoek een baan formulier
.baan-form-container {
    .baan-form-wrapper {
        padding: 50px;
        background: #F6F6F6;
        .form-information {
            padding-bottom: 50px;
        }
        .b__form-wrapper {
            padding-bottom: 25px;
            input {
                width: 100%;
                padding-bottom: 5px;
                border: none;
                background: none;
                border-bottom: 3px solid rgb(94, 94, 94);
                margin-bottom: 20px;
            }
            p {
                width: 45%;
                span {
                    width: 100%;
                    input {
                        width: 100%;
                        padding-bottom: 5px;
                        border: none;
                        background: none;
                        border-bottom: 3px solid rgb(94, 94, 94);
                        margin-bottom: 20px;
                    }
                }
            }
        }
        .b__form-button-wrapper {
            .b__cf7-submit {
                input {
                    text-decoration: none;
                    color: #fff;
                    font-weight: bold;
                    padding: 10px 40px;
                    font-size: 19px;
                    border: none;
                    background: #00A099;
                    text-decoration: none;
                    -webkit-transition: all 0.2s ease;
                    -o-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }
                input:hover {
                    background: #00807a;
                    color: #fff;
                    text-decoration: none;
                }
            }
            .b__cf7-upload {
                .wpcf7-file::-webkit-file-upload-button {
                    visibility: hidden;
                }
                .wpcf7-file::before {
                    content: 'CV Uploaden';
                    display: inline-block;
                    background: #f6f6f6;
                    border: 3px solid #f28c00;
                    padding: 7px 5px;
                    font-size: 19px;
                    color: #f28c00;
                    font-weight: bold;
                    outline: none;
                    white-space: nowrap;
                    -webkit-user-select: none;
                    cursor: pointer;
                    -webkit-transition: all 0.2s ease;
                    -o-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }
                .wpcf7-file:hover::before {
                    background: #e0e0e0;
                }
                .wpcf7-file:active::before {
                    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
                }
                input {
                    font-size: 1px;
                    width: 200px;
                }
            }
        }
    }
}

//Kleine header
.small-header {
    //background-image: url('/app/uploads/2020/04/Group-129@2x-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 75px 0px;
    h1 {
        font-size: 45px;
        color: #fff;
        font-weight: bold;
        margin: 0px;
    }
    .small-header-button-wrapper {
        display: flex;
        flex-direction: column;
        .main-button {
            margin-bottom: 10px;
        }
    }
}
//Kleine header
.reverse-header {
    //background-image: url('/app/uploads/2020/04/Group-129@2x-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px;
}

//Het Contact formulier
.contact-form-container {
    .contact-form-wrapper {
        padding: 50px;
        .b__contact-form-wrapper {
            padding-bottom: 25px;
            p {
                width: 45%;
                span {
                    width: 100%;
                    input {
                        width: 100%;
                        padding-bottom: 5px;
                        border: none;
                        background: none;
                        border-bottom: 3px solid rgb(94, 94, 94);
                        margin-bottom: 20px;
                    }
                }
            }
        }
        .b__form-button-wrapper {
            text-align: right;
            .b__cf7-submit {
                input {
                    text-decoration: none;
                    color: #fff;
                    font-weight: bold;
                    padding: 10px 40px;
                    font-size: 19px;
                    border: none;
                    background: #00A099;
                    text-decoration: none;
                    -webkit-transition: all 0.2s ease;
                    -o-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }
                input:hover {
                    background: #00807a;
                    color: #fff;
                    text-decoration: none;
                }
                span {
                    display: none;
                }
            }
        }
        .b__contact-form-message {
            span {
                width: 100%;
                textarea {
                    width: 100%;
                    padding-bottom: 5px;
                    border: none;
                    background: none;
                    border-bottom: 3px solid rgb(94, 94, 94);
                    margin-bottom: 20px;
                    font-family: 'Raleway';
                    font-size: 18px;
                    font-weight: normal;
                    color: #5E5E5E;
                }
            }
        }
    }
}

//Css voor landingpages
.content-row-landing {
    .landing-page-banner {
        max-height: 250px;
        width: 100%;
        margin-top: -100px;
        margin-bottom: 75px;
        img {
            width: 100%;
            height: 100%;
            max-height: 250px;
            object-fit: cover;
        }
    }
    .landing-row-wrapper {
        position: relative;
        .landing-text {
            padding-left: 30px;
            width: 100%;
            height: 100%;
            h1 {
                font-weight: bold;
                color: #00A099;
                margin: 0px 0px 20px 0px;
                font-size: 30px;
            }
        }
        .double-border {
            position: absolute;
            left: 0px;
            width: 7px;
            height: 100%;
            .border-1 {
                width: 100%;
                height: 50%;
                background: #F28C00;
                position: absolute;
                top: 0px;
            }
            .border-2 {
                width: 7px;
                height: 50%;
                background: #00A099;
                position: absolute;
                bottom: 0px;
            }
        }
    }
}

.page-template-contact-page {
    .about-row-wrapper {
        .about-image {
            position: relative;
            .contact-image-overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: all 0.2s ease;
                .contact-image-overlay-text {
                    color: white;
                    font-size: 20px;
                    position: absolute;
                    bottom: 0px;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, 0%);
                    text-align: center;
                    position: absolute;
                    width: 100%;
                    height: 100px;
                    padding-top: 10px;
                    background: #069e98ad;
                }
            }
        }
        .about-image:hover .contact-image-overlay {
            opacity: 1;
        }
    }
}